.mindset-img1{
    height: 300px;
   display: block;
   margin: 0 auto;
}
.mindset-img2{
    height: 400px;
    width: 700px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .mindset-img2{
        width: 650px;
    }
    .main-Question{
        width: 400px;
    }
    .mindset-box{
        width: 650px;
    }
    
}