.Title{
    color: rgb(42, 42, 137);
    text-align: center;
    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
.info{
    font: weight 80px;;
}
.options-img{
    margin-left: 300px;
    height: 350px;
}
.swing-img{
    margin-left: 300px;
    height: 300px;
}
.intrady-img{
   margin: 0 auto;
    width: 500px;
    height: 300px;
    display: block;
   
}

@media screen and (max-width:600px) {
    .options-img{
        width: 500px;
        position: relative;
        right: 220px;
    }
    .swing-img{
        width: 500px;
        position: relative;
        right: 200px;
    }
    .intrady-img{
        position: relative;
        left: 80px;
    }
}