.laptop-img{
    position: absolute;
    right: 5px;
    top: 200px;
}
.info-container{
    width: 50%;
}
.que-head{
     
    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(42, 42, 137);
}
.info-start{
    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(42, 42, 137);
    font-size: 20px;
}
.market-banner{
    position: absolute;
    top: 800px;
    left: 50px;
    border-radius: 10px;
    height: 250px;
    width: 700px;
}
.other-info{
    position: relative;
    left: 750px;
    width: 50%;
    height: 450px;
    color: black;
    display: block;
    margin-bottom: 20px;
}
@media screen and (max-width: 600px){

    .laptop-img{
      width: 500px;
      position: relative;
      left: 50px;
      top: -20px;
    }
    .info-container{
        display: block;
        width: 600px;
       position: relative;
    }
    .mantra{
        width: 100%;
        margin-left: 60px;
    };
    .market-banner{
        width: 500px;
    }
    .other-info{
        width: 600px;
        position: relative;
        left: 20px;
        height: 300px;
       
    }
    .market-banner{
        width: 300px;
        position: relative;
        top: auto;
        left: 150px;
       
    }
    .global-heading{
        margin-left: 250px;
    }
}